# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Library/.vs/Library/DesignTimeBuild/.dtbcache.v2
Library/.vs/Library/DesignTimeBuild/.dtbcache.v2
Library/.vs/Library/v17/.futdcache.v1
Library/.vs/Library/v17/.suo
Library/Library/obj/Debug/net6.0-windows/Library.assets.cache
Library/Library/obj/Debug/net6.0-windows/Library.designer.runtimeconfig.json
Library/Library/obj/Debug/net6.0-windows/Library.GeneratedMSBuildEditorConfig.editorconfig
Library/Library/obj/Library.csproj.nuget.dgspec.json
Library/Library/obj/Library.csproj.nuget.g.props
Library/Library/obj/project.assets.json
Library/Library/obj/project.nuget.cache
Library/.vs/Library/DesignTimeBuild/.dtbcache.v2
Library/.vs/Library/v17/.suo
Library/Library/deneme.Designer.cs
Library/Library/obj/Debug/net6.0-windows/Library.assets.cache
Library/Library/obj/Debug/net6.0-windows/Library.designer.runtimeconfig.json
Library/Library/obj/Debug/net6.0-windows/Library.GeneratedMSBuildEditorConfig.editorconfig
Library/Library/obj/Library.csproj.nuget.dgspec.json
Library/Library/obj/Library.csproj.nuget.g.props
Library/Library/obj/project.assets.json
Library/Library/obj/project.nuget.cache
Library/.vs/Library/v17/.suo
Library/.vs/Library/v17/.suo
Library/.vs/Library/FileContentIndex/cf185fda-9534-4632-9de4-ad1e816cda3f.vsidx
Library/.vs/Library/FileContentIndex/cf185fda-9534-4632-9de4-ad1e816cda3f.vsidx
Library/.vs/Library/FileContentIndex/e96e8223-54b1-45ea-ad5a-6accdec72a00.vsidx
Library/.vs/Library/v17/.suo
Library/.vs/ProjectEvaluation/library.metadata.v2
Library/.vs/ProjectEvaluation/library.projects.v2
Library/.vs/Library/DesignTimeBuild/.dtbcache.v2
Library/.vs/Library/FileContentIndex/76f85381-1148-4c79-b8ee-203a59e0ac83.vsidx
Library/.vs/Library/DesignTimeBuild/.dtbcache.v2
Library/.vs/Library/FileContentIndex/977532ba-061c-4447-8b72-9d71784e855b.vsidx
Library/Library/obj/project.nuget.cache
Library/Library/obj/project.assets.json
Library/Library/obj/Library.csproj.nuget.g.props
Library/Library/obj/Library.csproj.nuget.dgspec.json
Library/.vs/Library/DesignTimeBuild/.dtbcache.v2
Library/.vs/Library/FileContentIndex/cf185fda-9534-4632-9de4-ad1e816cda3f.vsidx
Library/.vs/Library/FileContentIndex/e96e8223-54b1-45ea-ad5a-6accdec72a00.vsidx
Library/.vs/Library/v17/.suo
Library/.vs/ProjectEvaluation/library.metadata.v2
Library/.vs/ProjectEvaluation/library.projects.v2
Library/Library/obj/Debug/net6.0-windows/Library.assets.cache
Library/Library/obj/Debug/net6.0-windows/Library.designer.runtimeconfig.json
Library/Library/obj/Debug/net6.0-windows/Library.GeneratedMSBuildEditorConfig.editorconfig
Library/Library/obj/Library.csproj.nuget.dgspec.json
Library/Library/obj/Library.csproj.nuget.g.props
Library/Library/obj/project.assets.json
Library/Library/obj/project.nuget.cache
Library/.vs/Library/FileContentIndex/51e4f84f-5016-4370-9ef3-fe6e86b9733f.vsidx
Library/.vs/Library/DesignTimeBuild/.dtbcache.v2
Library/.vs/Library/FileContentIndex/9e848470-40be-4998-a6bf-c68eddd15626.vsidx
Library/.vs/Library/DesignTimeBuild/.dtbcache.v2
Library/.vs/Library/v17/.suo
Library/.vs/ProjectEvaluation/library.metadata.v2
Library/.vs/ProjectEvaluation/library.projects.v2
Library/.vs/Library/FileContentIndex/5ea5f10b-fc5a-4fe0-8f68-4e1730e3edbb.vsidx
Library/.vs/Library/FileContentIndex/6f0ef69f-0604-4962-9fbd-303d1060e96e.vsidx
Library/.vs/Library/v17/.suo
Library/.vs/ProjectEvaluation/library.metadata.v2
Library/.vs/ProjectEvaluation/library.projects.v2
Library/.vs/Library/FileContentIndex/01d4a472-4615-4382-8a82-be894af48edd.vsidx
Library/.vs/Library/FileContentIndex/a6b595cb-3b9b-48d4-b163-69ec81ba9727.vsidx
Library/.vs/Library/v17/.suo
Library/.vs/ProjectEvaluation/library.metadata.v2
Library/.vs/ProjectEvaluation/library.projects.v2
Library/.vs/Library/FileContentIndex/52afdb77-f6b6-4587-9f2e-d4005cdfdc1f.vsidx
Library/.vs/Library/FileContentIndex/551f82e3-7296-4cbf-b8f3-e0d253bc826b.vsidx
Library/.vs/Library/v17/.suo
Library/.vs/ProjectEvaluation/library.metadata.v2
Library/.vs/ProjectEvaluation/library.projects.v2
Library/Library/deneme.resx
Library/.vs/Library/FileContentIndex/6207f4e2-4062-4820-a892-9e6e3acd9b55.vsidx
Library/.vs/Library/FileContentIndex/e6cb2383-39ab-4c9b-99de-1a32727a59ff.vsidx
Library/.vs/Library/v17/.suo
Library/.vs/ProjectEvaluation/library.metadata.v2
Library/.vs/ProjectEvaluation/library.projects.v2
Library/.vs/Library/DesignTimeBuild/.dtbcache.v2
Library/.vs/Library/DesignTimeBuild/.dtbcache.v2
Library/.vs/Library/FileContentIndex/0aaf1957-d2a3-405e-933a-464e907556a0.vsidx
Library/.vs/Library/FileContentIndex/7db06620-c62e-48c3-8ae9-0ba53229598e.vsidx
Library/.vs/Library/FileContentIndex/dd09a758-8097-41d6-aa3d-0d18963db959.vsidx
Library/.vs/Library/v17/.futdcache.v1
Library/.vs/Library/FileContentIndex/a21c389a-b704-4dba-9a88-edb372e9f34e.vsidx
Library/.vs/ProjectEvaluation/library.metadata.v2
Library/.vs/ProjectEvaluation/library.projects.v2
Library/Library/istatistikler.cs
Library/Library/Library.csproj.user
Library/Library/obj/Debug/net6.0-windows/Library.assets.cache
Library/Library/obj/Debug/net6.0-windows/Library.designer.runtimeconfig.json
Library/Library/obj/Debug/net6.0-windows/Library.GeneratedMSBuildEditorConfig.editorconfig
Library/Library/obj/Library.csproj.nuget.dgspec.json
Library/Library/obj/Library.csproj.nuget.g.props
Library/Library/obj/project.assets.json
Library/Library/obj/project.nuget.cache
Library/Library/obj/Debug/net6.0-windows/Library.kitap.resources
Library/.vs/Library/FileContentIndex/7111a2dd-2646-456f-a1f6-e792949935b1.vsidx
*.vsidx
Library/.vs/Library/DesignTimeBuild/.dtbcache.v2
Library/.vs/Library/DesignTimeBuild/.dtbcache.v2
Library/.vs/Library/v17/.suo
Library/.vs/ProjectEvaluation/library.metadata.v2
Library/.vs/ProjectEvaluation/library.projects.v2
Library/Library/bin/Debug/net6.0-windows/Library.pdb
Library/Library/obj/Debug/net6.0-windows/Library.csproj.CoreCompileInputs.cache
Library/Library/obj/Debug/net6.0-windows/Library.csproj.FileListAbsolute.txt
Library/Library/obj/Debug/net6.0-windows/Library.csproj.GenerateResource.cache
Library/Library/obj/Debug/net6.0-windows/Library.genruntimeconfig.cache
Library/Library/obj/Debug/net6.0-windows/Library.istatistikler.resources
Library/Library/obj/Debug/net6.0-windows/Library.pdb
Library/.vs/Library/v17/.suo
Library/.vs/Library/DesignTimeBuild/.dtbcache.v2
Library/.vs/Library/DesignTimeBuild/.dtbcache.v2
Library/.vs/Library/FileContentIndex/f0dcbe3d-1817-4f6f-a33a-12ef43d4eef2.vsidx
Library/.vs/Library/v17/.futdcache.v1
Library/.vs/Library/v17/.suo
Library/.vs/ProjectEvaluation/library.metadata.v2
Library/.vs/ProjectEvaluation/library.projects.v2
Library/Library/bin/Debug/net6.0-windows/Library.pdb
Library/Library/Library.csproj
Library/Library/Library.csproj.user
Library/Library/obj/Debug/net6.0-windows/Library.anasayfa.resources
Library/Library/obj/Debug/net6.0-windows/Library.csproj.CoreCompileInputs.cache
Library/Library/obj/Debug/net6.0-windows/Library.csproj.FileListAbsolute.txt
Library/Library/obj/Debug/net6.0-windows/Library.csproj.GenerateResource.cache
Library/Library/obj/Debug/net6.0-windows/Library.Form2.resources
Library/Library/obj/Debug/net6.0-windows/Library.giris.resources
Library/Library/obj/Debug/net6.0-windows/Library.pdb
Library/.vs/Library/DesignTimeBuild/.dtbcache.v2
Library/.vs/Library/DesignTimeBuild/.dtbcache.v2
Library/.vs/Library/v17/.suo
Library/.vs/ProjectEvaluation/library.metadata.v2
Library/.vs/ProjectEvaluation/library.projects.v2
Library/Library/obj/Debug/net6.0-windows/Library.assets.cache
Library/Library/obj/Debug/net6.0-windows/Library.assets.cache
Library/Library/obj/Debug/net6.0-windows/Library.designer.runtimeconfig.json
Library/Library/obj/Debug/net6.0-windows/Library.GeneratedMSBuildEditorConfig.editorconfig
Library/Library/obj/Library.csproj.nuget.dgspec.json
Library/Library/obj/Library.csproj.nuget.g.props
Library/Library/obj/project.assets.json
Library/Library/obj/project.nuget.cache
