# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Library/.vs/Library/DesignTimeBuild/.dtbcache.v2
Library/.vs/Library/DesignTimeBuild/.dtbcache.v2
Library/.vs/Library/v17/.futdcache.v1
Library/.vs/Library/v17/.suo
Library/Library/obj/Debug/net6.0-windows/Library.assets.cache
Library/Library/obj/Debug/net6.0-windows/Library.designer.runtimeconfig.json
Library/Library/obj/Debug/net6.0-windows/Library.GeneratedMSBuildEditorConfig.editorconfig
Library/Library/obj/Library.csproj.nuget.dgspec.json
Library/Library/obj/Library.csproj.nuget.g.props
Library/Library/obj/project.assets.json
Library/Library/obj/project.nuget.cache
Library/.vs/Library/DesignTimeBuild/.dtbcache.v2
Library/.vs/Library/v17/.suo
Library/Library/deneme.Designer.cs
Library/Library/obj/Debug/net6.0-windows/Library.assets.cache
Library/Library/obj/Debug/net6.0-windows/Library.designer.runtimeconfig.json
Library/Library/obj/Debug/net6.0-windows/Library.GeneratedMSBuildEditorConfig.editorconfig
Library/Library/obj/Library.csproj.nuget.dgspec.json
Library/Library/obj/Library.csproj.nuget.g.props
Library/Library/obj/project.assets.json
Library/Library/obj/project.nuget.cache
Library/.vs/Library/v17/.suo
Library/.vs/Library/v17/.suo
