# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Library/.vs/Library/DesignTimeBuild/.dtbcache.v2
Library/.vs/Library/DesignTimeBuild/.dtbcache.v2
Library/.vs/Library/v17/.futdcache.v1
Library/.vs/Library/v17/.suo
Library/Library/obj/Debug/net6.0-windows/Library.assets.cache
Library/Library/obj/Debug/net6.0-windows/Library.designer.runtimeconfig.json
Library/Library/obj/Debug/net6.0-windows/Library.GeneratedMSBuildEditorConfig.editorconfig
Library/Library/obj/Library.csproj.nuget.dgspec.json
Library/Library/obj/Library.csproj.nuget.g.props
Library/Library/obj/project.assets.json
Library/Library/obj/project.nuget.cache
Library/.vs/Library/DesignTimeBuild/.dtbcache.v2
Library/.vs/Library/v17/.suo
Library/Library/deneme.Designer.cs
Library/Library/obj/Debug/net6.0-windows/Library.assets.cache
Library/Library/obj/Debug/net6.0-windows/Library.designer.runtimeconfig.json
Library/Library/obj/Debug/net6.0-windows/Library.GeneratedMSBuildEditorConfig.editorconfig
Library/Library/obj/Library.csproj.nuget.dgspec.json
Library/Library/obj/Library.csproj.nuget.g.props
Library/Library/obj/project.assets.json
Library/Library/obj/project.nuget.cache
Library/.vs/Library/v17/.suo
Library/.vs/Library/v17/.suo
Library/.vs/Library/FileContentIndex/cf185fda-9534-4632-9de4-ad1e816cda3f.vsidx
Library/.vs/Library/FileContentIndex/cf185fda-9534-4632-9de4-ad1e816cda3f.vsidx
Library/.vs/Library/FileContentIndex/e96e8223-54b1-45ea-ad5a-6accdec72a00.vsidx
Library/.vs/Library/v17/.suo
Library/.vs/ProjectEvaluation/library.metadata.v2
Library/.vs/ProjectEvaluation/library.projects.v2
Library/.vs/Library/DesignTimeBuild/.dtbcache.v2
Library/.vs/Library/FileContentIndex/76f85381-1148-4c79-b8ee-203a59e0ac83.vsidx
Library/.vs/Library/DesignTimeBuild/.dtbcache.v2
Library/.vs/Library/FileContentIndex/977532ba-061c-4447-8b72-9d71784e855b.vsidx
Library/Library/obj/project.nuget.cache
Library/Library/obj/project.assets.json
Library/Library/obj/Library.csproj.nuget.g.props
Library/Library/obj/Library.csproj.nuget.dgspec.json
Library/.vs/Library/DesignTimeBuild/.dtbcache.v2
Library/.vs/Library/FileContentIndex/cf185fda-9534-4632-9de4-ad1e816cda3f.vsidx
Library/.vs/Library/FileContentIndex/e96e8223-54b1-45ea-ad5a-6accdec72a00.vsidx
Library/.vs/Library/v17/.suo
Library/.vs/ProjectEvaluation/library.metadata.v2
Library/.vs/ProjectEvaluation/library.projects.v2
Library/Library/obj/Debug/net6.0-windows/Library.assets.cache
Library/Library/obj/Debug/net6.0-windows/Library.designer.runtimeconfig.json
Library/Library/obj/Debug/net6.0-windows/Library.GeneratedMSBuildEditorConfig.editorconfig
Library/Library/obj/Library.csproj.nuget.dgspec.json
Library/Library/obj/Library.csproj.nuget.g.props
Library/Library/obj/project.assets.json
Library/Library/obj/project.nuget.cache
Library/.vs/Library/FileContentIndex/51e4f84f-5016-4370-9ef3-fe6e86b9733f.vsidx
Library/.vs/Library/DesignTimeBuild/.dtbcache.v2
Library/.vs/Library/FileContentIndex/9e848470-40be-4998-a6bf-c68eddd15626.vsidx
Library/.vs/Library/DesignTimeBuild/.dtbcache.v2
Library/.vs/Library/v17/.suo
Library/.vs/ProjectEvaluation/library.metadata.v2
Library/.vs/ProjectEvaluation/library.projects.v2
Library/.vs/Library/FileContentIndex/5ea5f10b-fc5a-4fe0-8f68-4e1730e3edbb.vsidx
Library/.vs/Library/FileContentIndex/6f0ef69f-0604-4962-9fbd-303d1060e96e.vsidx
Library/.vs/Library/v17/.suo
Library/.vs/ProjectEvaluation/library.metadata.v2
Library/.vs/ProjectEvaluation/library.projects.v2
Library/.vs/Library/FileContentIndex/01d4a472-4615-4382-8a82-be894af48edd.vsidx
Library/.vs/Library/FileContentIndex/a6b595cb-3b9b-48d4-b163-69ec81ba9727.vsidx
Library/.vs/Library/v17/.suo
Library/.vs/ProjectEvaluation/library.metadata.v2
Library/.vs/ProjectEvaluation/library.projects.v2
Library/.vs/Library/FileContentIndex/52afdb77-f6b6-4587-9f2e-d4005cdfdc1f.vsidx
Library/.vs/Library/FileContentIndex/551f82e3-7296-4cbf-b8f3-e0d253bc826b.vsidx
Library/.vs/Library/v17/.suo
Library/.vs/ProjectEvaluation/library.metadata.v2
Library/.vs/ProjectEvaluation/library.projects.v2
Library/Library/deneme.resx
Library/.vs/Library/FileContentIndex/6207f4e2-4062-4820-a892-9e6e3acd9b55.vsidx
Library/.vs/Library/FileContentIndex/e6cb2383-39ab-4c9b-99de-1a32727a59ff.vsidx
Library/.vs/Library/v17/.suo
Library/.vs/ProjectEvaluation/library.metadata.v2
Library/.vs/ProjectEvaluation/library.projects.v2
Library/.vs/Library/DesignTimeBuild/.dtbcache.v2
Library/.vs/Library/DesignTimeBuild/.dtbcache.v2
Library/.vs/Library/FileContentIndex/0aaf1957-d2a3-405e-933a-464e907556a0.vsidx
Library/.vs/Library/FileContentIndex/7db06620-c62e-48c3-8ae9-0ba53229598e.vsidx
Library/.vs/Library/FileContentIndex/dd09a758-8097-41d6-aa3d-0d18963db959.vsidx
Library/.vs/Library/v17/.futdcache.v1
Library/.vs/Library/FileContentIndex/a21c389a-b704-4dba-9a88-edb372e9f34e.vsidx
Library/.vs/ProjectEvaluation/library.metadata.v2
Library/.vs/ProjectEvaluation/library.projects.v2
Library/Library/istatistikler.cs
Library/Library/Library.csproj.user
Library/Library/obj/Debug/net6.0-windows/Library.assets.cache
Library/Library/obj/Debug/net6.0-windows/Library.designer.runtimeconfig.json
Library/Library/obj/Debug/net6.0-windows/Library.GeneratedMSBuildEditorConfig.editorconfig
Library/Library/obj/Library.csproj.nuget.dgspec.json
Library/Library/obj/Library.csproj.nuget.g.props
Library/Library/obj/project.assets.json
Library/Library/obj/project.nuget.cache
Library/Library/obj/Debug/net6.0-windows/Library.kitap.resources
Library/.vs/Library/FileContentIndex/3e74a6c9-a2f2-4ddb-b8a1-2e68de124a03.vsidx
Library/.vs/Library/FileContentIndex/4aafcee9-e3cd-4695-af25-95dfce2ef8a1.vsidx
Library/.vs/Library/FileContentIndex/afc88b94-cd63-4c5f-80fc-6efd7fff8b32.vsidx
Library/.vs/Library/FileContentIndex/merges/d4050e8e-c6ec-448f-a60f-1affd77c1ef8.vsidx
Library/Library/obj/Debug/net6.0-windows/Library.istatistikler.resources
Library/.vs/Library/DesignTimeBuild/.dtbcache.v2
Library/.vs/Library/DesignTimeBuild/.dtbcache.v2
Library/.vs/Library/FileContentIndex/449c8b7b-9896-4b3c-a8a0-d090ffc71d05.vsidx
Library/.vs/Library/FileContentIndex/4cd3c269-3e3f-45de-88f0-f15404834011.vsidx
Library/.vs/Library/FileContentIndex/99194f89-9fa5-4a47-8289-8ac6e98afa6d.vsidx
Library/.vs/Library/FileContentIndex/b83387f2-c973-40aa-b7b9-496e33df1dfb.vsidx
Library/.vs/Library/FileContentIndex/f0dcbe3d-1817-4f6f-a33a-12ef43d4eef2.vsidx
Library/.vs/Library/v17/.futdcache.v1
Library/.vs/Library/v17/.suo
Library/.vs/ProjectEvaluation/library.metadata.v2
Library/.vs/ProjectEvaluation/library.projects.v2
Library/Library/Library.csproj.user
Library/Library/obj/Debug/net6.0-windows/Library.assets.cache
Library/Library/obj/Debug/net6.0-windows/Library.designer.runtimeconfig.json
Library/Library/obj/Debug/net6.0-windows/Library.GeneratedMSBuildEditorConfig.editorconfig
Library/Library/obj/Library.csproj.nuget.dgspec.json
Library/Library/obj/Library.csproj.nuget.g.props
Library/Library/obj/project.assets.json
Library/Library/obj/project.nuget.cache
Library/.vs/Library/DesignTimeBuild/.dtbcache.v2
Library/.vs/Library/DesignTimeBuild/.dtbcache.v2
Library/.vs/Library/FileContentIndex/27584a00-7599-4af2-9814-36bf4b397cca.vsidx
Library/.vs/Library/FileContentIndex/9b784714-e29b-4061-b5c0-832698159b75.vsidx
Library/.vs/Library/v17/.futdcache.v1
Library/.vs/Library/v17/.suo
Library/.vs/Library/DesignTimeBuild/.dtbcache.v2
Library/.vs/ProjectEvaluation/library.metadata.v2
Library/.vs/ProjectEvaluation/library.projects.v2
Library/Library/deneme.cs
Library/Library/deneme.Designer.cs
Library/Library/deneme.resx
Library/Library/Library.csproj
Library/Library/Library.csproj.user
Library/Library/obj/Debug/net6.0-windows/Library.csproj.CoreCompileInputs.cache
Library/Library/obj/Debug/net6.0-windows/Library.csproj.FileListAbsolute.txt
Library/Library/obj/Debug/net6.0-windows/Library.csproj.GenerateResource.cache
Library/Library/obj/Debug/net6.0-windows/Library.Form2.resources
Library/Library/obj/Debug/net6.0-windows/Library.pdb
Library/.vs/Library/DesignTimeBuild/.dtbcache.v2
Library/.vs/Library/DesignTimeBuild/.dtbcache.v2
Library/.vs/Library/FileContentIndex/6f7db22a-bd3a-438c-8ab4-97780624a20b.vsidx
Library/.vs/Library/FileContentIndex/ae68fed1-c22e-4fca-be44-81bfec7981e5.vsidx
Library/.vs/Library/FileContentIndex/b95ce848-1694-46f5-be93-5d9b8cc93276.vsidx
Library/.vs/Library/v17/.suo
Library/.vs/Library/FileContentIndex/e81c94b5-809d-410a-a5dd-2049b769741b.vsidx
Library/.vs/ProjectEvaluation/library.metadata.v2
Library/.vs/ProjectEvaluation/library.projects.v2
Library/.vs/Library/DesignTimeBuild/.dtbcache.v2
Library/.vs/ProjectEvaluation/library.projects.v2
Library/.vs/ProjectEvaluation/library.metadata.v2
Library/.vs/Library/v17/.suo
Library/.vs/Library/FileContentIndex/ae68fed1-c22e-4fca-be44-81bfec7981e5.vsidx
Library/.vs/Library/DesignTimeBuild/.dtbcache.v2
Library/.vs/Library/DesignTimeBuild/.dtbcache.v2
Library/.vs/Library/FileContentIndex/9cf92a9b-b3cb-4d47-afbb-d05042c05518.vsidx
Library/.vs/Library/FileContentIndex/f1284bff-ecc1-46e0-9d71-4604cd5c14df.vsidx
Library/.vs/Library/FileContentIndex/a41b3462-b3b4-4e43-921f-9a6d756ee94f.vsidx
Library/.vs/Library/DesignTimeBuild/.dtbcache.v2
Library/.vs/Library/v17/.suo
Library/.vs/ProjectEvaluation/library.metadata.v2
Library/.vs/ProjectEvaluation/library.projects.v2
Library/Library/bin/Debug/net6.0-windows/Library.pdb
Library/Library/Library.csproj.user
Library/Library/obj/Debug/net6.0-windows/Library.anasayfa.resources
Library/Library/obj/Debug/net6.0-windows/Library.csproj.CoreCompileInputs.cache
Library/Library/obj/Debug/net6.0-windows/Library.csproj.FileListAbsolute.txt
Library/Library/obj/Debug/net6.0-windows/Library.csproj.GenerateResource.cache
Library/Library/obj/Debug/net6.0-windows/Library.Form2.resources
Library/Library/obj/Debug/net6.0-windows/Library.genruntimeconfig.cache
Library/Library/obj/Debug/net6.0-windows/Library.Odunc.resources
Library/Library/obj/Debug/net6.0-windows/Library.pdb
Library/.vs/Library/DesignTimeBuild/.dtbcache.v2
Library/.vs/Library/FileContentIndex/301e247e-b62b-48ad-abc0-7fad559508ce.vsidx
Library/.vs/Library/FileContentIndex/6c3187b0-34b9-4c60-8efd-be6e10524830.vsidx
Library/.vs/Library/FileContentIndex/d1b8439f-1ea8-477f-94b9-a24520896f78.vsidx
Library/.vs/Library/v17/.suo
Library/.vs/ProjectEvaluation/library.metadata.v2
Library/.vs/ProjectEvaluation/library.projects.v2
Library/Library/obj/Debug/net6.0-windows/Library.csproj.CoreCompileInputs.cache
Library/Library/obj/Debug/net6.0-windows/Library.csproj.FileListAbsolute.txt
Library/Library/obj/Debug/net6.0-windows/Library.giris.resources
Library/Library/obj/Debug/net6.0-windows/Library.OduncListesi.resources
Library/.vs/Library/DesignTimeBuild/.dtbcache.v2
Library/Library/OduncListesi.Designer.cs
Library/Library/Öğrenci Ekle.cs
Library/Library/Öğrenci Ekle.Designer.cs
Library/Library/Öğrenci Ekle.resx
Library/.vs/Library/DesignTimeBuild/.dtbcache.v2
Library/.vs/Library/FileContentIndex/1f2c11c6-1a19-4176-a122-0ef814bd7831.vsidx
Library/.vs/Library/FileContentIndex/8cad537e-1418-4a8b-8db6-85effe30a7b5.vsidx
Library/.vs/Library/FileContentIndex/f9de091e-34bc-459e-b383-6c9b561d3d78.vsidx
Library/.vs/Library/v17/.suo
Library/.vs/Library/DesignTimeBuild/.dtbcache.v2
Library/.vs/ProjectEvaluation/library.metadata.v2
Library/.vs/ProjectEvaluation/library.projects.v2
Library/Library/bin/Debug/net6.0-windows/Library.pdb
Library/Library/obj/Debug/net6.0-windows/Library.assets.cache
Library/Library/obj/Debug/net6.0-windows/Library.csproj.GenerateResource.cache
Library/Library/obj/Debug/net6.0-windows/Library.designer.runtimeconfig.json
Library/Library/obj/Debug/net6.0-windows/Library.GeneratedMSBuildEditorConfig.editorconfig
Library/Library/obj/Debug/net6.0-windows/Library.pdb
Library/Library/obj/Library.csproj.nuget.dgspec.json
Library/Library/obj/Library.csproj.nuget.g.props
Library/Library/obj/project.assets.json
Library/Library/obj/project.nuget.cache
Library/.vs/Library/DesignTimeBuild/.dtbcache.v2
Library/.vs/Library/FileContentIndex/3d62d8de-587f-45a9-bbee-1c4a98b23d9a.vsidx
Library/.vs/Library/FileContentIndex/60e83f12-382f-4055-94e5-738354e7620a.vsidx
Library/.vs/Library/FileContentIndex/e11611b7-9c82-4674-8a32-ed1c82dd0690.vsidx
Library/.vs/Library/v17/.suo
Library/.vs/ProjectEvaluation/library.metadata.v2
Library/.vs/ProjectEvaluation/library.projects.v2
Library/Library/bin/Debug/net6.0-windows/Library.pdb
Library/Library/obj/Debug/net6.0-windows/Library.assets.cache
Library/Library/obj/Debug/net6.0-windows/Library.csproj.CoreCompileInputs.cache
Library/Library/obj/Debug/net6.0-windows/Library.csproj.GenerateResource.cache
Library/Library/obj/Debug/net6.0-windows/Library.designer.runtimeconfig.json
Library/Library/obj/Debug/net6.0-windows/Library.GeneratedMSBuildEditorConfig.editorconfig
Library/Library/obj/Debug/net6.0-windows/Library.genruntimeconfig.cache
Library/Library/obj/Debug/net6.0-windows/Library.pdb
Library/Library/obj/Library.csproj.nuget.dgspec.json
Library/Library/obj/Library.csproj.nuget.g.props
Library/Library/obj/project.assets.json
Library/Library/obj/project.nuget.cache
Library/.vs/Library/DesignTimeBuild/.dtbcache.v2
Library/.vs/Library/FileContentIndex/d335b4bc-6c0a-4110-afd1-7b9b1c7996ec.vsidx
Library/.vs/Library/v17/.suo
Library/.vs/ProjectEvaluation/library.metadata.v2
Library/.vs/ProjectEvaluation/library.projects.v2
Library/Library/bin/Debug/net6.0-windows/Library.pdb
Library/.vs/Library/DesignTimeBuild/.dtbcache.v2
Library/.vs/Library/FileContentIndex/477a122c-43b1-41df-99f8-6ae60aa9f255.vsidx
Library/.vs/Library/FileContentIndex/6cb56773-8e73-495a-8196-5d58e8d67848.vsidx
Library/.vs/Library/FileContentIndex/afadbd1f-2b28-4146-9bb6-74f697586a01.vsidx
Library/.vs/Library/FileContentIndex/e5b96202-2282-4db9-985d-fccc08818797.vsidx
Library/.vs/Library/v17/.suo
Library/.vs/ProjectEvaluation/library.metadata.v2
Library/.vs/ProjectEvaluation/library.projects.v2
Library/Library/bin/Debug/net6.0-windows/Library.pdb
Library/Library/obj/Debug/net6.0-windows/Library.csproj.GenerateResource.cache
Library/Library/obj/Debug/net6.0-windows/Library.pdb
Library/.vs/Library/FileContentIndex/13c4986b-649a-4f20-b7cd-d19c04858210.vsidx
Library/.vs/Library/FileContentIndex/181613a1-120b-415c-9dfb-1f5929597767.vsidx
Library/.vs/Library/FileContentIndex/9bf3f53b-433b-4832-ab61-2737dbcdd8b2.vsidx
Library/.vs/Library/v17/.suo
Library/.vs/Library/FileContentIndex/6de127d0-664a-4a28-a916-4f640067625c.vsidx
